---
const title = "viva chile";
const imageerror = "https://www.publicdomainpictures.net/pictures/190000/nahled/sad-dog-1468499671wYW.jpg";
const red = await fetch("https://dog.ceo/api/breeds/image/random");
const redData = await red.json();
const imagendog = redData.message || imageerror;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{title}</h1>
		<img src={imagendog} alt="A random dog" style="max-width: 400px;height:auto"/>

		<div><button id="chile-button">
			Viva Chile
		</button></div>
		<div>
			<img id="chile-button2" style="max-width: 400px;height:auto"/>
		</div>

	</body>
</html>

<script>
	import {hola } from "./cat.ts";
	hola();
</script>
