---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm.tsx";
---

<Layout title="Login">
  <div class="min-h-screen bg-zinc-900 flex items-center justify-center">
    <LoginForm client:load />
  </div>
</Layout>
